@brand:        #ea5b2e;
@brand-second: #5294C0;
@brand-third:  #2E2A27; //Header
@brand-fourth: #423836; //Sidebar
@brand-fifth:  #30B2F4;

@dark-gray:     #32393F;
@darkest-gray:  #282E32;
@gray:          #666666;
@light-gray:    #8E8E8E;
@soft-gray:     #c8c8c8;
@lighter-gray:  #f5f5f5;
@broken-white:  #FAFAFA;
@almost-white:  #FDFDFD;

//Colors
@red : #E73140;
@green : #33BC8C;
@blue :#2D6BD7;

@phone-max-size:769px;
@tablet-max-size:1025px;